// Import
// Font import

// Variables
// Colors
// Primary Colors
$primary_color_1: #291f1d;
$primary_color_2: #bdbbbf;
$primary_color_3: #e8380d;

// Secondary Colors
$secondary_color_1: #383940;
$secondary_color_2: #bdcbd2;
$secondary_color_3: #d0c7a4;

// Normal Colors
$color_white: #fff;
$color_black: #000;


// Fonts
// Font size
$font_size_12: 12px;
$font_size_13: 13px;
$font_size_14: 14px;
$font_size_15: 15px;
$font_size_16: 16px;
$font_size_17: 17px;
$font_size_18: 18px;
$font_size_19: 19px;
$font_size_20: 20px;
$font_size_21: 21px;
$font_size_22: 22px;
$font_size_23: 23px;
$font_size_24: 24px;
$font_size_25: 25px;
$font_size_26: 26px;
$font_size_27: 27px;
$font_size_28: 28px;

$font_size_48: 48px;
$font_size_68: 68px;

// Font weights
$font_weight_light: 300;
$font_weight_normal: 400;

// Font family
$font_primary: 'Kazesawa';


// Mixins
@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin align-items-center {
  -ms-flex-align: center;
  align-items: center;
}

@mixin justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin object-fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($millisecond) {
  -webkit-transition: $millisecond;
  -ms-transition: $millisecond;
  -o-transition: $millisecond;
  transition: $millisecond;
}

@mixin transform($transformXValue, $transformYValue) {
  -webkit-transform: translate($transformXValue, $transformYValue);
  -ms-transform: translate($transformXValue, $transformYValue);
  -o-transform: translate($transformXValue, $transformYValue);
  transform: translate($transformXValue, $transformYValue);
}

@mixin zoom($scaleValue) {
  -webkit-transform: scale($scaleValue);
  -ms-transform: scale($scaleValue);
  transform: scale($scaleValue);
}

// Keyframes
@-webkit-keyframes bounceDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes bounceDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* Main Theme styling */
* {
  margin: 0;
  padding: 0;
}

body {
  font-weight: $font_weight_light;
  height: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

// Normal styling


/* Mobile First */

body {
  font-family: $font_primary;
  &:not(.home) {
    .main-navigation {
      border-bottom: 1px solid #eee;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 9999999;
    }
  }
}

/* Home banner */
.home-banner {
  font-weight: 300;
  height: 100%;
  position: relative;
  .home-banner-item {
    height: 100vh;
    figure {
      height: 100%;
      margin: 0;
    }
    img {
      height: 100%;
      width: 100%;
      @include object-fit-cover;
    }
  }
  > .container {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(-50%, -50%);
  }
  .home-banner-content {
    height: 100%;
    text-align: center;
    h2 {
      color: $color_white;
      font-size: $font_size_26;
      font-weight: $font_weight_light;
    }
    figure {
      margin: 13vh auto 0;
    }
  }
  .scroll-section {
    bottom: 3vh;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .arrow-down {
      border-bottom: 3px solid $color_white;
      border-left: 3px solid $color_white;
      color: $color_white;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      width: 20px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: bounceDown 2s infinite;
      animation: bounceDown 2s infinite;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}
/* /Home banner */

/* Main navigation */
.main-navigation {
  &.sticky-top {
    border-bottom: 1px solid #eee;
    .navbar-brand {
      display: inline-block;
    }
  }
  .navbar-toggler {
    margin: 0 -15px;
    padding: .25rem 0;
    @include transition(300ms transform);
    &:focus {
      outline: none;
    }
    &[aria-expanded="true"] {
      -webkit-transform: scale(0.7) rotate(90deg);
      transform: scale(0.7) rotate(90deg);
    }
  }
  .bt-menu-trigger {
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    height: 35px;
    position: relative;
    width: 30px;
    &.bt-menu-open {
      span {
        &::before {
          -webkit-transform: translateY(6px) translateX(9px) rotate(-45deg) scaleX(0.6);
          transform: translateY(6px) translateX(9px) rotate(-45deg) scaleX(0.6);
        }
        &::after {
          -webkit-transform: translateY(-6px) translateX(9px) rotate(45deg) scaleX(0.6);
          transform: translateY(-6px) translateX(9px) rotate(45deg) scaleX(0.6);
        }
      }
    }
    span {
      background-color: $primary_color_1;
      display: block;
      height: 2.5px;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @include transition(300ms background-color);
      &::after,
      &::before {
        content: '';
        background: $primary_color_1;
        height: 2.5px;
        left: 0;
        position: absolute;
        width: 100%;
        @include transition(300ms transform);
      }
      &::before {
        @include transform(0, -10px);
      }
      &::after {
        @include transform(0, 10px);
      }
    }
  }
  .navbar {
    background-color: $color_white;
    padding-bottom: 0;
    padding-top: 0;
    @include transition(300ms all ease-in-out);
    .navbar-collapse {
      background-color: $color_white;
      border: 1px solid #eee;
      left: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      max-width: 100%;
      width: 100%;
    }
  }
  .navbar-nav {
    .nav-item {
      &.active {
        .nav-link {
          color: $primary_color_3;
        }
      }
    }
    .nav-link {
      color: $secondary_color_1;
      font-size: $font_size_14;
      padding: 10px 15px;
      text-transform: uppercase;
      &:hover {
        color: $primary_color_3;
      }
    }
  }
  .navbar-brand {
    display: none;
    margin: 0 auto;
    max-width: 33.33%;
    padding: 0;
    figure {
      margin: 0;
    }
  }
  .language-status {
    text-align: right;
    .language-item {
      color: $secondary_color_3;
      font-size: $font_size_14;
      text-transform: uppercase;
      margin-right: 5px;
      &.language-active {
        color: $primary_color_3;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
:not(#home) .main-navigation .navbar-brand {
  display: inline-block;
}
/* /Main navigation */

/* Scroll to section */
#scroll-to-section {
  background-color: $color_white;
}
/* /Scroll to section */

/* Home info section */
.home-info-section {
  overflow: hidden;
  h3 {
    font-size: $font_size_22;
    font-weight: $font_weight_light;
    line-height: 1.6;
    margin-bottom: 25px;
    html[lang="ja-JP"] & {
      font-size: $font_size_20;
    }
  }
  h4 {
    font-size: $font_size_18;
    font-weight: $font_weight_light;
    text-transform: uppercase;
  }
  p {
    font-size: $font_size_16;
    line-height: 1.5;
  }
  ul {
    list-style-type: none;
    li {
      margin-bottom: 30px;
      padding-top: 5px;
      padding-left: 40px;
      position: relative;
      &::before {
        background: url('../img/icon_check.png') no-repeat 0 0 / contain;
        content: '';
        height: 30px;
        left: 0;
        position: absolute;
        top: 0;
        width: 30px;
      }
      span {
        display: block;
        font-size: $font_size_16;
        line-height: 1.5;
        margin-bottom: 1px;
      }
    }
  }
}
/* /Home info section */

/* -- Contact Page -- */
/* Contact Info */
.contact-info {
  padding: 40px 0;
  .row {
    > [class*="col-"] {
      margin-top: 40px;
    }
  }
  h2 {
    font-size: $font_size_22;
    font-weight: normal;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  .contact-info-list {
    list-style-type: none;
    h5 {
      font-size: $font_size_15;
      font-weight: $font_weight_normal;
    }
    li, a {
      color: inherit;
      display: block;
      font-size: $font_size_14;
    }
    li {
      margin-bottom: 5px;
    }
    a {
      display: inline-block;
    }
  }
  [id*="map-"] {
    height: 200px;
  }
}
/* /Contact Info */
/* -- /Contact Page -- */

/* -- Photo blog Page -- */
.photo-blog-section {
  > .row {
    margin: 0 -0.6px; /* Pixel bug firefox */
    [class*="col-"] {
      &:nth-of-type(odd) {
        .photo-blog-item {
          -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
        }
      }
      &:nth-of-type(even) {
        .photo-blog-item {
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
        }
      }
    }
    &:nth-of-type(even) {
      [class*="col-"] {
        &:nth-of-type(odd) {
          .photo-blog-item {
            -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
          }
        }
        &:nth-of-type(even) {
          .photo-blog-item {
            -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
            clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
          }
        }
      }
    }
  }
  .photo-blog-item {
    height: 400px;
    position: relative;
    @include transition(500ms opacity ease-in-out);
    &::before {
      background-color: #08263a;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      @include transition(300ms all ease-in-out);
    }
    &:hover {
      &::before {
        background-color: $color_white;
        opacity: 0.8;
      }
      .photo-blog-item-info {
        opacity: 1;
        visibility: visible;
      }
    }
    &.photo-blog-opacity {
      opacity: 0.2;
      &:hover {
        opacity: 1;
      }
      // .photo-blog-item-info {
      //   opacity: 0;
      //   visibility: hidden;
      // }
    }
    &.photo-blog-opaque {
      opacity: 1;
      &:hover {
        &::before {
          background-color: #08263a;
          opacity: 0.5;
        }
        .photo-blog-item-info {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    figure {
      height: 100%;
      margin: 0;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        @include object-fit-cover;
      }
    }
    .photo-blog-item-info {
      left: 50%;
      opacity: 0;
      padding: 0 15px 0 15.6px;
      position: absolute;
      top: 50%;
      visibility: hidden;
      width: 100%;
      @include transform(-50%, -50%);
      @include transition(300ms all ease-in-out);
      > * {
        color: $color_black;
      }
      h5 {
        font-size: $font_size_18;
        margin-bottom: 10px;
      }
      .photo-blog-post-date {
        font-size: $font_size_15;
        display: block;
        margin-bottom: 10px;
      }
      p {
        font-size: $font_size_14;
        line-height: 1.5;
        margin-bottom: 10px;
      }
      a {
        font-size: $font_size_15;
        &:hover {
          color: $primary_color_3;
        }
      }
    }
  }
}
/* -- /Photo blog Page -- */

/* Main footer */
.main-footer {
  .copyright-text {
    font-size: $font_size_14;
    margin-bottom: 0;
    margin-top: 15px;
  }
}
/* /Main footer */

/* Home footer section */
.main-footer-home {
  background-color: $primary_color_1;
  padding: 30px 0;
  .footer-infos {
    list-style-type: none;
    margin-top: 15px;
    li, a {
      color: $color_white;
      display: block;
      font-size: $font_size_14;
    }
  }
  .footer-logo {
    display: inline-block;
    max-width: 200px;
  }
  .copyright-text {
    color: $color_white;
    font-size: $font_size_14;
    margin-bottom: 0;
    margin-top: 15px;
  }
}
/* Home footer section */

/* -- Photo blog detail -- */
#photo-blog-detail {
  background: $color_white;
  bottom: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  right: -100%;
  top: 72.8px;
  visibility: hidden;
  width: 100%;
  @include transition(500ms all ease-in-out);
  &.photo-blog-detail-active {
    opacity: 1;
    right: 0;
    visibility: visible;
  }
  .photo-blog-detail-close {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    -webkit-transform: rotate(-90deg) scale(1);
    transform: rotate(-90deg) scale(1);
    @include transition(500ms all ease-in-out);
    &:hover {
      cursor: none;
      -webkit-transform: rotate(0deg) scale(1.5);
      transform: rotate(0deg) scale(1.5);
    }
  }
  .photo-blog-detail-content {
    padding: 40px 15px;
    h4 {
      font-size: $font_size_18;
      margin-bottom: 10px;
    }
    .photo-blog-post-date {
      font-size: $font_size_15;
      display: block;
      margin-bottom: 10px;
    }
    figure {
      height: 300px;
      overflow: hidden;
    }
    p {
      font-size: $font_size_14;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }
}
/* -- /Photo blog detail -- */


/* -- Work page -- */
/* Work map section */
.work-map-section {
  padding: 30px 0;
  .work-map-top-info {
    h2 {
      font-size: $font_size_22;
      font-weight: 300;
      margin-bottom: 20px;
      html[lang="ja-JP"] & {
        font-size: $font_size_20;
      }
    }
    p {
      font-size: $font_size_16;
      line-height: 1.5;
    }
  }
}

.world-map {
  position: relative;
  display: block;
  * {
    &:focus {
      outline: none !important;
    }
  }
  .world-map-base {
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    width: 100%;
  }
  map {
    position: relative;
    z-index: 3;
  }
  .area-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    pointer-events: none;
    z-index: 2;
    @include transition(200ms opacity ease-in-out);
    &.area-image-hidden {
      opacity: 0;
    }
  }
}
/* /Work map section */

/* Country select form */
.country-select-form {
  margin-bottom: 40px;
  .country-select-wrap {
    margin: 0 auto;
    max-width: 100%;
    .form-group {
      margin-bottom: 10px;
      position: relative;
      &::after {
        content: '\f0d7';
        display: block;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
        @include transition(300ms all ease-in-out);
        @include transform(0, -50%);
      }
      select {
        border-radius: 0;
      }
    }
    .form-control {
      font-size: $font_size_15;
      font-weight: 300;
      height: 35px;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  .project-listings {
    height: 450px;
    margin: 30px auto 0;
    max-width: 560px;
    overflow: auto;
    thead {
      th {
        border-top: 0;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        display: none;
      }
    }
    tbody {
      .clickable {
        cursor: pointer;
        border-bottom: 1px solid #555;
        &[aria-expanded="true"] {
          background-color: rgba(0,0,0,.075);
          td {
            &.title {
              color: $primary_color_3;
              i {
                transform: rotate(180deg);
              }
            }
          }
        }
        &:last-of-type {
          border-bottom: 0;
        }
        td {
          border: 0;
          font-size: $font_size_13;
          padding: 7px 5px;
          @include flex();
          @include flex-wrap();
          &.title {
            padding-bottom: 0;
          }
          &:hover {
            cursor: pointer;
          }
          i {
            font-size: $font_size_13;
            margin-right: 10px;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            @include transition(300ms all ease-in-out);
          }
        }
      }
      td {
        font-size: $font_size_13;
        display: table-cell;
        padding: 0;
      }
      tr {
        &.project-collapse-wrap {
          .card {
            border: 0;
            border-radius: 0;
            border-bottom: 2px solid $primary_color_2;
            border-top: 2px solid $primary_color_2;
            padding: 10px;
          }
          ul {
            list-style-type: none;
            margin-bottom: 0;
            &:not(:last-of-type) {
              margin-bottom: 7px;
            }
            li {
              display: inline-block;
              &:not(:last-of-type)::after {
                content: ' / ';
                display: inline-block;
                margin: 0 2.5px;
              }
            }
          }
          .project-date {
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}
/* /Country select form */
/* -- /Work page -- */

/* -- Gallery page -- */
.gallery-info {
  padding: 40px 0;
  .gallery-info-item {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
    > h3 {
      font-size: $font_size_18;
      text-transform: uppercase;
    }
  }
  .gallery-info-big-slider-init {
    margin: 30px 0 0;
    .gallery-info-magnific {
      img {
        margin: 0 auto;
      }
    }
    .gallery-info-vertical-fit {
      display: block;
      margin-bottom: 20px;
      cursor: zoom-in;
      cursor: -webkit-zoom-in;
    }
    figure {
      margin: 0;
    }
  }
  [class*="gallery-info-caption-"] {
    font-size: $font_size_16;
    line-height: 1.6;
    margin: 0;
    text-align: center;
  }
  .gallery-info-caption-popup {
    display: none;
  }
  .gallery-thumb-slider {
    margin: 20px 0 0;
  }
  .gallery-thumb-item {
    float: left;
    padding-left: 1.5em;
  }
  .gallery-thumb-item:first-child {
    padding-left: 0;
  }

  .gallery-thumbnail {
    display: block;
    width: 200px;
    height: 120px;
    img {
      height: 100%;
      width: 100%;
      @include object-fit-cover;
    }
  }
}

@media screen and (max-width: 768px) {
  .gallery-info {
    .gallery-thumbnail {
      width: 160px;
      height: 80px;
    }
    .gallery-info-caption-normal {
      font-weight: 300;
    }
  }
}
@media screen and (max-width: 425px) {
  .gallery-info {
    .gallery-thumbnail {
      width: 120px;
      height: 80px;
    }
    .gallery-info-caption-normal {
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 375px) {
  .gallery-info {
    .gallery-thumbnail {
      width: 100px;
      height: 80px;
    }
  }
}

@media screen and (max-width: 320px) {
  .gallery-info {
    .gallery-thumbnail {
      width: 140px;
      height: 80px;
    }
  }
}

.mfp-close {
  &:focus {
    outline: none;
  }
}
.mfp-with-zoom {
  &.mfp-bg, .mfp-container {
    opacity: 0;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    @include transition(300ms all ease-in-out);
  }
  &.mfp-ready {
    &.mfp-bg {
      opacity: 0.99;
    }
    .mfp-container {
      opacity: 1;
    }
  }
  .mfp-figure {
    &::after {
      display: none;
    }
  }
  .mfp-img {
    padding-bottom: 0;
  }
  .mfp-bottom-bar {
    margin: 0;
    position: relative;
  }
  .mfp-title {
    color: $color_white;
    font-size: $font_size_14;
    line-height: 1.6;
    margin: 8px 0 0;
    padding-right: 0;
    text-align: center;
  }
  .mfp-arrow {
    &:focus {
      outline: none;
    }
  }
}
/* -- Gallery page -- */

@media screen and (min-width: 576px) {
  /* Home banner */
  .home-banner {
    .home-banner-content {
      figure {
        max-width: 50%;
      }
    }
  }
  /* Home banner */

  /* Main navigation */
  .main-navigation {
    &.sticky-top {
      .navbar-brand {
        #home & {
          display: inline-block;
          opacity: 1;
          visibility: visible;
          @include zoom(1);
        }
      }
    }
    .navbar-brand {
      #home & {
        display: inline-block;
        opacity: 0;
        visibility: hidden;
        @include zoom(0);
        @include transition(300ms all ease-in-out);
      }
      display: inline-block;
      opacity: 1;
      visibility: visible;
      @include zoom(1);
      figure {
        margin: 0;
        max-width: 160px;
      }
    }
  }
  /* /Main navigation */
}

@media screen and (max-width: 767px) {
  /* Home info section */
  .home-info-section {
    padding: 30px 0;
    > .container {
      &:not(:last-of-type) {
        border-bottom: 1px solid $secondary_color_2;
        margin-bottom: 25px;
        padding-bottom: 10px;
      }
      > .row {
        &:nth-of-type(odd) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
        }
      }
    }
  }
  /* /Home info section */

  /* -- Contact Page -- */
  /* Contact Info */
  .contact-info {
    padding-top: 0;
    [id*="map-"] {
      height: 500px;
    }

    .row > [class*=col-]
    {
      margin-top: 30px;
    }
  }
  /* /Contact Info */
  /* -- Contact Page -- */
}

@media screen and (min-width: 768px) {
  /* Home banner */
  .home-banner {
    .scroll-section {
      .arrow-down {
        height: 28px;
        width: 28px;
      }
    }
  }
  /* /Home banner */

  /* Home info section */
  .home-info-section {
    >.container {
      max-width: 100%;
      padding: 0;
      position: relative;
      > .row {
        [class*="col-"] {
          min-height: 400px;
          position: relative;
        }
        .home-slant-img {
          @include flex;
          @include flex-wrap;
          bottom: 0;
          left: 0;
          margin-bottom: 0;
          margin-top: -120px;
          overflow: hidden;
          position: absolute;
          right: 0;
          top: 0;
        }
        img {
          display: block;
          height: 100%;
          width: 100%;
          @include object-fit-cover;
        }
        .home-info-content-wrap {
          padding-bottom: 119px;
          &::before,
          &::after {
            background:$color_white;
            content:'';
            display: block;
            height: 120px;
            left: 0;
            margin-top: -120px;
            position: absolute;
            width: 100%;
            z-index: 1;
          }
          &::after {
            bottom: 0;
          }
          &:nth-of-type(odd) {
            &::before {
              -webkit-clip-path:polygon(0 0,0 100%,100% 100%);
              clip-path:polygon(0 0,0 100%,100% 100%);
            }
            &::after {
              -webkit-clip-path:polygon(0 0,100% 100%,100% 0);
              clip-path:polygon(0 0,100% 100%,100% 0);
            }
          }
          &:nth-of-type(even) {
            &::before {
              -webkit-clip-path:polygon(0 100%,100% 100%,100% 0);
              clip-path:polygon(0 100%,100% 100%,100% 0);
            }
            &::after {
              -webkit-clip-path:polygon(0 0,0 100%,100% 0);
              clip-path:polygon(0 0,0 100%,100% 0);
            }
          }
        }
      }
    }
    .home-info-content {
      padding: 25px 25px;
    }
    ul {
      li {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  /* /Home info section */

  /* Home footer section */
  .main-footer-home {
    position: relative;
    &::before {
      border-style: solid;
      border-width: 200px 15px 0 0;
      border-color: $primary_color_3 transparent transparent transparent;
      content: '';
      height: 0;
      position: absolute;
      top: 0;
      width: 0;
    }
    > .container-fluid {
      padding: 0 50px;
    }
    .footer-infos {
      margin: 0;
      li, a {
        font-size: $font_size_13;
      }
    }
    .copyright-text {
      font-size: $font_size_13;
      margin-top: 30px;
      text-align: right;
    }
  }
  /* /Home footer section */

  /* -- Contact Page -- */
  /* Contact Info */
  .contact-info {
    [id*="map-"] {
      height: 250px;
    }
  }
  /* /Contact Info */
  /* -- Contact Page -- */

  /* Footer section */
  .main-footer {
    padding: 20px 0;
    .copyright-text {
      margin: 0;
      text-align: center;
    }
  }
  /* /Footer section */

  /* -- Photo blog detail -- */
  #photo-blog-detail {
    right: -50%;
    top: 72.8px;
    width: 50%;
    .photo-blog-detail-close {
      right: 25px;
      top: 25px;
      i {
        top: 35px;
        right: 40px;
      }
    }
    .photo-blog-detail-content {
      padding: 40px;
    }
  }
  /* -- /Photo blog detail -- */

  /* -- Work page -- */
  /* Work map section */
  /* Country select form */
  .country-select-form {
    margin-bottom: 60px;
    .country-select-wrap {
      max-width: 250px;
    }
    .project-listings {
      thead {
        th {
          display: table-cell;
        }
      }
      tbody {
        .clickable {
          cursor: pointer;
          border: 0;
          td {
            display: table-cell;
            font-size: $font_size_15;
            padding: 10px 15px;
            &.title {
              i {
                font-size: $font_size_15;
                margin-right: 10px;
                @include transition(300ms all ease-in-out);
              }
            }
          }
        }
        td {
          display: table-cell;
          font-size: $font_size_15;
          padding: 0;
        }
      }
    }
  }
  /* /Country select form */
  /* -- /Work page -- */
  /* /Work map section */

  /* -- Gallery page -- */
  .gallery-info {
    .gallery-info-item {
      &:not(:last-of-type) {
        margin-bottom: 60px;
      }
    }
  }
  /* -- /Gallery page -- */
}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) {
  .home-banner {
    .home-banner-content {
      figure {
        max-width: 35%;
      }
    }
  }

  /* Navbar section */
  .main-navigation {
    .navbar {
      padding: 0 15px;
      .navbar-collapse {
        border: 0;
        position: static;
      }
    }
    .navbar-toggler {
      &[aria-expanded="true"] {
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
      }
    }
    .navbar-nav {
      .nav-item {
        margin-right: 50px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .navbar-nav {
      .nav-link {
        padding: 25px 0;
      }
    }
    .navbar-brand {
      figure {
        max-width: 220px;
      }
    }
    .language-status {
      .language-item {
        margin-right: 10px;
      }
    }
  }
  /* /Navbar section */

  /* Home info section */
  .home-info-section {
    h4 {
      margin-bottom: 15px;
    }
    p {
      line-height: 1.8;
    }
  }
  /* /Home info section */

  /* -- /Work page -- */
  /* Work Map section */
  .work-map-section {
    padding: 60px 0;
    .work-map-top-info {
      h2 {
        margin-bottom: 60px;
      }
      p {
        line-height: 1.8;
      }
    }
  }
  /* /Work Map section */

  /* Country select form */
  .country-select-form {
    .project-listings {
      thead {
        th {
          font-size: $font-size_16;
        }
      }
    }
  }
  /* /Country select form */
  /* -- /Work page -- */

  /* -- Gallery page -- */
  .gallery-info {
    .gallery-info-item {
      &:not(:last-of-type) {
        margin-bottom: 80px;
      }
    }
  }
  /* -- /Gallery page -- */
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
  /* Home info section */
  .home-info-section {
    .home-info-content {
      padding: 100px 80px;
    }
    h4 {
      font-size: $font_size_20;
    }
  }
  /* /Home info section */

  /* Navbar section */
  .main-navigation {
    .navbar {
      padding: 0 40px;
    }
  }

  /* -- Photo blog Page -- */
  .photo-blog-section {
    > .row {
      [class*="col-"] {
        -ms-flex: 0 0 14.285714285714285714285714285714%;
        flex: 0 0 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714%;
        &:nth-of-type(odd) {
          .photo-blog-item-info {
            top: 47%;
          }
        }
        &:nth-of-type(even) {
          .photo-blog-item-info {
            top: 53%;
          }
        }
      }
    }
    .photo-blog-item {
      height: 305px;
      .photo-blog-item-info {
        padding: 0 10px 0 10.6px;
        h5 {
          font-size: $font_size_16;
        }
        .photo-blog-post-date {
          font-size: $font_size_14;
        }
        p {
          font-size: $font_size_13;
        }
        a {
          font-size: $font_size_14;
        }
      }
    }
  }
  /* -- /Photo blog Page -- */

  /* -- Photo blog detail -- */
  #photo-blog-detail {
    right: -43%;
    top: 72.8px;
    width: 43%;
    .photo-blog-detail-content {
      padding: 60px 40px;
      h4 {
        font-size: $font_size_18;
      }
      .photo-blog-post-date {
        font-size: $font_size_16;
      }
      figure {
        height: 350px;
      }
      p {
        font-size: $font_size_15;
      }
    }
  }
  /* -- /Photo blog detail -- */
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1300px;
  }
}

/* Webfonts */
@font-face {
  font-family: 'Kazesawa';
  src: local('Kazesawa-Light'),
  url('../webfonts/Kazesawa-Light.woff2') format('woff2'),
  url('../webfonts/Kazesawa-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kazesawa';
  src: local('Kazesawa-Regular'),
  url('../webfonts/Kazesawa-Regular.woff2') format('woff2'),
  url('../webfonts/Kazesawa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// fonts

html[lang="ja"] {
  /* Home info section */
  .home-info-section {
    font-family: Verdana," 游ゴシック Medium","Yu Gothic Medium"," 游ゴシック体",YuGothic,sans-serif;
  }

  .gallery-info .gallery-info-item > h3 {
    font-family: Verdana," 游ゴシック Medium","Yu Gothic Medium"," 游ゴシック体",YuGothic,sans-serif;
  }

  .photo-blog-section .photo-blog-item .photo-blog-item-info h5,
  .photo-blog-section .photo-blog-item .photo-blog-item-info p,
  #photo-blog-detail .photo-blog-detail-content h4,
  #photo-blog-detail .photo-blog-detail-content p {
    font-family: Verdana," 游ゴシック Medium","Yu Gothic Medium"," 游ゴシック体",YuGothic,sans-serif;
  }

  .work-map-section,
  #project-table .card ul {
    font-family: Verdana," 游ゴシック Medium","Yu Gothic Medium"," 游ゴシック体",YuGothic,sans-serif;
  }
}

// photoswipe popup
.pswp {
  top: 90px;
}

@media screen and (max-width: 425px) {
  .pswp {
    top: 47px;
  }
}

.pswp__caption {
  padding: 10px 0;
}
.pswp__caption__center {
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  padding-right: 0;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .pswp__button--arrow--left, .pswp__button--arrow--right {
    display: none;
  }
}

// photoswipe navigation arrows
.pswp__button--arrow--left, .pswp__button--arrow--right {
  margin: 0 50px;
  outline: 0!important;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-top: none;
  border-right: none;
  height: 40px;
  width: 40px;
  background: none;
  cursor: pointer;
}


.pswp__button--arrow--left {
  transform: rotate(45deg);
}

.pswp__button--arrow--right {
  transform: rotate(230deg);
}

.pswp__button--arrow--left:before, .pswp__button--arrow--right:before {
  background-image: none!important;
  background: none!important;
}
