.site-section {

  padding: 30px 0;

}

.world-map {

  display: inline-block;
  position: relative;

}

.world-map .world-map-base {

  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;

}

.world-map map {

  position: relative;
  z-index: 3;

}

.world-map .area-image {

  position: absolute;
  top: 0;
  right: 0;
  bottom :0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;

}

.world-map .area-image img {

  max-width: 100%;

}

.world-map .area-image.area-image-hidden {

  opacity: 0;

}

.project-table .project-table-msg {

  text-align: center;
  padding: 30px 0;
  opacity: 0.6;

}

.project-table tr.project-selected td.title {

  color: #d9534f;

}

.project-container .swiper-button {

  background-color: transparent;
  border: none;
  transform: translate( 0, -50% );
  -webkit-transform: translate( 0, -50% );
  -moz-transform: translate( 0, -50% );
  -o-transform: translate( 0, -50% );
  -ms-transform: translate( 0, -50% );
  opacity: 0.3;
  width: 20px;
  height: 33px;
  background-size: contain;

}

.project-container .swiper-button:hover{

  opacity: 1;

}

.project-container .swiper-button:focus {
  outline: none;

}

.project-container .swiper-button-disabled {

  display: none;

}

.project .project-description{

  margin-bottom: 30px;

}

.project .project-description h1,
.project .project-description h2,
.project .project-description h3,
.project .project-description h4,
.project .project-description h5,
.project .project-description h6 {

  margin-top: 0;

}

.project-gallery:before,
.project-gallery:after{

  content: '';
  display: table;

}

.project-gallery:after{

  clear: both;

}

.project-slider-nav .swiper-slide {

  opacity: 0.3;
  height: 56px;
  margin-bottom: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.project-slider-nav .swiper-slide.swiper-slide-thumb-active {

  opacity: 1;

}

.project-slider .swiper-slide{

  padding-top: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

/*Modal*/
.modal-content {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

.dark-modal .modal-content {

  background-color: rgba( 24, 24, 24, 0.9 );
  color: #cacaca;

}

.dark-modal h1,
.dark-modal h2,
.dark-modal h3,
.dark-modal h4,
.dark-modal h5,
.dark-modal h6 {

  color: #eaeaea;

}

.dark-modal .close {

  color: inherit;

}

.dark-modal .modal-header {

  border: none;

}

@media( min-width: 992px ) {

  .project {

    padding: 0 50px 15px;

  }

  .project-slider-nav {

    padding-right: 10px;

  }

  .project-gallery .project-slider-nav {

    float: left;
    width: 14%;

  }

  .project-gallery .project-slider {

    float: right;
    width: 86%;

  }

}

@media( max-width: 991px ) {

  .project-gallery .project-slider {

    margin-bottom: 10px;

  }

  .project-slider-nav .swiper-slide {

    width: 20%;

  }

  .project-container .swiper-button {
    display: none;
  }

}

/*
Utilities*/
.mxw-200 {
  max-width: 200px;
}

.mxw-600 {
  max-width: 600px;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 1199px ) and ( min-width: 992px ) {

  .pull-left-md {

    float: left;

  }
  .pull-right-md {

    float: right;

  }

}

@media (min-width: 1200px ) {

  .pull-left-lg {

    float: left;

  }
  .pull-right-lg {

    float: right;

  }

}