p {
    line-height: 1.8 !important;
}

body {
    line-height: 1.8;
    font-family: Verdana, " 游ゴシック Medium", "Yu Gothic Medium", " 游ゴシック体", YuGothic, sans-serif !important;
}

ul {
    list-style: none;
}

li.year {
    font-weight: bolder;
    font-size: 18px;
}

#search-input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    text-align: center;
    float: left;
}

#search-input:focus {
    outline: none;
    box-shadow: none;
}

.search {
    margin-top: 3%;
}

ul.time-line {
    margin-bottom: 45px;
    text-align: center;
    max-width: 75px;
    min-width: 75px;
}

ul.time-line li {
    margin-bottom: 8%;
}

.nav-link, .copyright-text {
    font-weight: 300;
    font-family: "Kazesawa";
}

.language-item, ul.footer-infos {
    font-family: "Kazesawa";
}

li.number {
    font-weight: normal !important;
}

.read-more {
    font-size: 16px;
    font-weight: 600;
    color: rgb(197, 189, 157);
    margin-bottom: 25px;
    cursor: pointer;
}

.show-less {
    font-size: 16px;
    font-weight: 600;
    color: rgb(197, 189, 157);
    margin: 25px 0;
    cursor: pointer;
}

.post-body a {
    color: #192f60 !important;
}

.post-link {
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 20px;
    color: #192f60 !important;
}

#latest-button {
    background: rgb(197, 189, 157) !important;
    margin-bottom: 30px !important;
    border-radius: 0;
    cursor: auto !important;
    font-size: 18px;
    padding: 7px 25px;
}

.tag {
    border-color: #B2B2B2 !important;
    background: #B2B2B2 !important;
    color: white !important;
    border-radius: 0;
    margin: 15px 10px 10px 0;
    font-weight: bolder;
    height: 23px;
    line-height: 20px;
    min-width: 100px;
    text-align: center;
    font-size: 15px;
}

.activeSelected {
    cursor: pointer;
    color: #e8380d;
    font-size: 17px;
}

.unactiveSelected {
    cursor: pointer;
    font-size: 17px;
}

.title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8
}

.created-time {
    margin-bottom: 20px;
    font-size: 17px;
    min-width: 110px;
}

.cut-summary {
    margin-bottom: 20px;
    font-size: 16px;
}

.summary {
    margin-bottom: 20px;
    font-size: 16px;
}

.post-body {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.8;
}

.el-pager li.active {
    color: #e8380d !important;
}

.el-pagination span, .el-pagination li {
    font-size: 16px !important;
}

.el-pagination span:hover, .el-pagination li:hover, .el-pagination button:hover {
    color: inherit !important;
}

.pagination {
    display: block !important;
    margin: 40px 0;
    text-align: center !important;

}

[v-cloak] { display:none; }

.search-input {
    width: 100%;
    font-size: 18px !important;
}

.search-icon {
    cursor: pointer;
    font-family: Icons;
}

.main-content {
    margin-top: 3%;
}

.time-line-wrap {
    min-width: 120px;
}

.post-wrap {
    padding: 0;
    margin-left: -13px;
}

.post-list {
    margin-left: -10px;
}

.latest-post-title {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: bold !important;
    line-height: 1.8
}
.latest-post-created-time {
    margin-bottom: 20px;
    font-size: 18px;
    min-width: 110px;
    padding-top: 6px;
}

.latest-post-summary {
    margin-bottom: 20px;
    font-size: 18px;
}

.latest-post-body {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.8;
}

.latest-post-read-more {
    font-size: 16px;
    font-weight: 600;
    color: rgb(197, 189, 157);
    margin-bottom: 25px;
    cursor: pointer;
}

.latest-post-body a {
    color: #192f60 !important;
}

.latest-post-show-less {
    font-size: 16px;
    font-weight: 600;
    color: rgb(197, 189, 157);
    margin-bottom: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.latest-post-link {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    color: #192f60 !important;
}