body {
    font-family: Verdana, " 游ゴシック Medium", "Yu Gothic Medium", " 游ゴシック体", YuGothic, sans-serif !important;
    line-height: 1.8;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

#search-input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    text-align: center;
    float: left;
}

#search-input:focus {
    outline: none;
    box-shadow: none;
}

.search {
    margin-top: 3%;
}

.read-more {
    font-size: 16px;
    font-weight: 600;
    color: rgb(197, 189, 157);
    margin-bottom: 10px;
    cursor: pointer;
}

.show-less {
    font-size: 16px;
    font-weight: 600;
    color: rgb(197, 189, 157);
    margin: 10px 0;
    cursor: pointer;
}
.post-body-all {
    word-break:break-all;
}

.post-link {
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    color: #192f60 !important;
}

#latest-button {
    background: rgb(197, 189, 157) !important;
    margin-bottom: 20px !important;
    border-radius: 0;
    font-size: 18px;
    padding: 7px 25px;
}

.tag {
    border-color: #B2B2B2 !important;
    background: #B2B2B2 !important;
    color: white !important;
    border-radius: 0;
    margin: 0 10px 10px 0;
    font-weight: bolder;
    height: 23px;
    line-height: 20px;
    min-width: 100px;
    text-align: center;
    font-size: 15px;
}


.nav-link, .copyright-text {
    font-weight: 300;
    font-family: "Kazesawa";
}

.language-item, ul.footer-infos {
    font-family: "Kazesawa";
}

li.number {
    font-weight: normal !important;
}

.el-pager li.active {
    color: #e8380d !important;
}

.search-icon {
    cursor: pointer;
    font-family: Icons;
}


.el-pagination span, .el-pagination li {
    font-size: 16px !important;
}

.el-pagination span:hover, .el-pagination li:hover, .el-pagination button:hover {
    color: inherit !important;
}

h6, p {
    line-height: 1.8 !important;
}

[v-cloak] { display:none; }

.post-body a {
    color:  #192f60 !important;
}

.pagination {
    margin: 40px 0;
    text-align: center;
    display: block !important;
}

.search-input {
    width: 100%;
}

.date-picker {
    margin: 20px 0;
}
.title {
    margin-bottom: 20px;
    font-weight: bold !important;
    font-size: 18px;
}


.created-time {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 17px;
}


.latest-post-created-time {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 17px;
}
.latest-post-summary, .latest-post-body {
    margin-bottom: 20px;font-weight: 400;
    font-size: 16px;
}

.summary, .post-body {
    margin-bottom: 20px;font-weight: 400;
    font-size: 16px;
}

.tag-list {
    padding: 10px 0 13px 13px;
}

.divider {
    width: 100% !important;
}

.latest-post-body a {
    color: #192f60 !important;
}
.latest-post-link {
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    color: #192f60 !important;
}

.latest-post-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold !important;
}
